{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<div class="row align-middle h-100 d-flex ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class='card rounded container-fluid align-middle'>
            <div class="card-title">
                <h4 class="align-middle text-center text-uppercase font-weight-bold display-4 py-3">Register Account</h4>
            </div>
            <div class='card-body'>
                <form action=" {% url 'registration' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    
                    <div class="form-group">
                        <input type="text" 
                                name="username" 
                                id="userNameField" 
                                placeholder="Create A Username"
                                value = "{{field_values.username}}"
                                class="form-control rounded form-controll-sm" />
                    </div>
                    <div class="invalid-feedback" style="display: none;"></div>
                    <div class="form-group">
                        <input type="email" 
                                name="email" 
                                id="emailField" 
                                value ="{{field_values.email}}"
                                placeholder="Enter Your Email Address"
                                class="form-control rounded form-controll-sm" />
                    </div>
                    <div class="invalid-emailfeedback invalid-feedback" style="display: none;"></div>
                    <div class="form-group">
                        <input type="password" 
                                name="password" 
                                id="passwordField" 
                                placeholder="Create Password(8 characters min)"
                                value="{{field_values.password}}"
                                class="form-control rounded form-controll-sm" />
                                <small class="float-right py-2 mb-4 pr-1 showPasswordToggle pe-auto text-primary">Show Password</small>
                    </div>
                    <input type="submit" value="Register" class="submit-btn lead btn btn-block btn-outline-primary mt-4 rounded">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock  %}