@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.messages{
  transition: all 0.5s ease-out;
  width: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.showPasswordToggle {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.showPasswordToggle:hover {
  transform: scale(1.1);
}

.top-bar{
  background-color: blue !important;
}

.pagination_container_lower{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}